.navbar {
  background-color: rgb(12, 38, 58, 0.6);
}

.navbar-collapse {
  align-items: start;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: 0.1px solid rgb(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-brand {
  width: 5%;
}

.show {
  display: flex;
  flex-flow: column nowrap;
}

.nav-links {
  width: 45%;
  float: left;
}

.nav-link {
  float: left;
}

/* Search */
.searchFormDiv {
  width: 50%;
  padding: 2px 0;
}

.searchFormDiv .form-inline {
  float: right !important;
  border-bottom: 1px solid white;
}

#citySearchInput {
  background-color: transparent !important;
  font-size: 15px;
  color: white;
  margin-right: 0 !important;
  padding: 0.2rem 0.3rem;
  border: none;
  border-radius: 0;
}

#citySearchInput:focus {
  border: none;
}

#citySearchBtn {
  background-color: transparent;
  height: 32px;
  padding: 0.4rem;
  border: none;
  border-radius: 0;
}

#citySearchBtn:hover {
  padding: 0.3rem;
}

@media only screen and (max-width: 992px) {
  .searchFormDiv .form-inline {
    float: left !important;
  }
}

@media only screen and (max-width: 415px) {
  #citySearchBtn {
    padding: 0.275rem 0.55rem;
  }

  .searchFormDiv {
    width: 80%;
  }

  #citySearchInput {
    width: 65%;
    padding: 0.2rem 0.45rem;
    font-size: 15px;
  }
}
